@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-poppins: "Poppins", sans-serif;
  --background: #f9f9fa;
  --foreground: #444444;
  --bg-tabs: #e5e5e5;
  --btn-solid: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-poppins: "Poppins", sans-serif;
    --background: #3e4346;
    --foreground: #ededed;
    --bg-tabs: #505558;
    --btn-solid: #1d2022;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}
